<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>고객 목록</title>
    <link rel="stylesheet" type="text/css"
          href="../../static/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>
    <div>
        <form th:action="@{/customers/create}" th:object="${customerForm}" method="post">
            <dl>
                <dt><label for="lastName">성</label></dt>
                <dd>
                    <input type="text" id="lastName" name="lastName" th:field="*{lastName}"
                           th:errorclass="error-input" value="홍"/>
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                          class="error-messages">error!</span>
                </dd>
                <dt><label for="firstName">이름</label></dt>
                <dd>
                    <input type="text" id="firstName" name="firstName" th:field="*{firstName}"
                           th:errorclass="error-input" value="길동"/>
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                          class="error-messages">error!</span>
                </dd>
            </dl>
            <input type="submit" value="작성"/>
        </form>
    </div>
    <table class="table table-striped table-border table-condensed">
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}">100</td>
            <td th:text="${customer.lastName}">홍</td>
            <td th:text="${customer.firstName}">길동</td>
            <td>
                <form th:action="@{/customers/edit}" method="get">
                    <input type="submit" name="form" value="편집"/>
                    <input type="hidden" name="id" th:value="${customer.id}"/>
                </form>
            </td>
            <td>
                <form th:action="@{/customers/delete}" method="post">
                    <input type="submit" value="삭제"/>
                    <input type="hidden" name="id" th:value="${customer.id}"/>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>